<div class="posts list-group">
  <h1>HELLO</h1>
  {{#each dogData}}
    <a class="list-item flex-row justify-space-between" href="/dashboard/edit/{{id}}">
      <span>{{dogData.name}}</span>
      <span>{{breed}}</span>
      <span>{{age}}</span>
      <span>{{sex}}</span>
      <span>{{ZipCode}}</span>
      <span>{{bio}}</span>
    </a>
  {{/each}}
</div>