<div class="posts list-group">
  {{#each dogData}}
    <a class="list-item flex-row justify-space-between" href="/dashboard/edit/{{id}}">
      <span>{{dogData.name}}</span>
      <span>{{dogData.breed}}</span>
      <span>{{dogData.age}}</span>
      <span>{{dogData.sex}}</span>
      <span>{{dogData.ZipCode}}</span>
      <span>{{dogData.bio}}</span>
    </a>
  {{/each}}
</div>