<div class="posts list-group">
  {{#each dogData}}
    <a
      class="list-item flex-row justify-space-between"
      href="/dashboard/edit/{{id}}"
    >
      <div class="columns">
        <div class="column is-two-fifths">
          <p class="profileContent">{{name}}</p>
          <p class="profileContent">{{bio}}</p>
        </div>

        <div class="column">
          <p>{{image}}</p>
        </div>
      </div>
      <h2 class="title is-2" id="aboutMeTitle"> About Me! </h2>
      <div class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">
          <p class="profileContent">{{breed}}</p>
          <p class="profileContent">{{age}}</p>
          <p class="profileContent">{{sex}}</p>
          <p class="profileContent">{{ZipCode}}</p>
        </div>
      </div>
    </a>
  {{/each}}
</div>