<div class="posts list-group">
  {{#each dogData}}
    <a
      class="list-item flex-row justify-space-between"
      href="/dashboard/edit/{{id}}"
    >
      <div class="columns">
        <div class="column is-two-fifths">
          <p>{{name}}</p>
          <p>{{bio}}</p>
        </div>

        <div class="column">
          <span>{{image}}</span>
        </div>
      </div>
      <h2 class="title is-2" id="aboutMeTitle"> About Me! </h2>
      <div class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">
          <span>{{breed}}</span>
          <span>{{age}}</span>
          <span>{{sex}}</span>
          <span>{{ZipCode}}</span>
        </div>
      </div>
    </a>
  {{/each}}
</div>